* {
	box-sizing: border-box;
}
body {
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,0.7371323529411764) 32%, rgba(0,0,0,0.7) 54%, rgba(6,0,8,0.66) 60%, rgba(231,97,237,0.6166841736694677) 100%);
	color: rgb(235, 219, 253);
}

.header {
	background-color: black;
	color: white;
	text-align: center;
	margin: 20px 20px 0 40px;
}

h2 {
	background-color: black;
	color: white;
	text-align: center;
	margin: 20px 20px 0 40px;
}

.image {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.menu ul{
	display: flex;
	justify-content:space-around;
	flex-direction: row;
	margin-top: 20px;
	font-size: 30px;
	list-style: none;
	color: pink;
	background-color:black;
}

.menu {
	padding-left: 40px;
	padding-right: 20px;
	position: sticky;
	top: 0px;
}
.bio p {
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.bio {
	margin-top: 50px;
}
a {
	text-decoration: none !important;
	transition: 0.5s all;
}

.songs {
	margin-top: 20px;
	padding-left: 46%;
}

.interview p {
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

.links ul {
	display: flex;
	justify-content:space-around;
	flex-direction: row;
	margin-top: 20px;
	font-size: 30px;
	list-style: none;
	color: pink;
	background-color:black
}
.links {
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 100px;
	position: sticky;
	bottom: 0px;
}

:-webkit-any-link {
	text-emphasis: none;
	text-decoration: none;
	color: inherit;
}

:-moz-any-link {
	text-emphasis: none;
	text-decoration: none;
	color: inherit;
}

:any-link {
	text-emphasis: none;
	text-decoration: none;
	color: inherit;
	text-align: inherit;
}